.style-nav-child {
    background-color: #9c27b0;
}
/* validate style */
label.error {
    font-style: italic;
    color: red;
    padding-top: 10px;
}
/*for file_name_upload*/
.file_name_upload {
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.preview-image {
    background-color: #e5e5e5;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 123px;
}

.text-center {
    text-align: center;
}

/* for task/view*/
.p-circle-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    cursor: pointer;
}

.p-circle-icon:hover {
    background-color: #ab47bc;
}

.border-botom-gray {
    border: 0.05rem solid #a9afbb; margin-bottom: 10px;
}

.border-botom-purple {
    border: 0.05rem solid #8e24aa; margin-bottom: 10px
}

.c-text-comment {
    font-size: 15px;font-weight: 300;
}

.c-text-style-datetime {
    color: silver; font-size: 13px; font-style: italic;
}
.c-custom-select-box-select2 {
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid silver;
}
.pagination{
    float: right;
    margin: 20px 0 0 0;
}
.pagination li {
    padding: 0px !important;
}
#DataTables_Table_0_info {
    float: left;
    margin: 20px 0 0 0;
}

.form-group {
    margin-top: 0px !important;
}

#DataTables_Table_0_filter {
    float: right;
}
