.style-nav-child {
    background-color: #9c27b0;
}
/* validate style */
label.error {
    font-style: italic;
    color: red;
    padding-top: 10px;
}
/*for file_name_upload*/
.file_name_upload {
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.preview-image {
    background-color: #e5e5e5;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 123px;
}

.text-center {
    text-align: center;
}

/* for task/view*/
.p-circle-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    cursor: pointer;
}

.p-circle-icon:hover {
    background-color: #ab47bc;
}